#homebody{
    background-image: url("../img/about.jpg");
    background-position:right;
    background-repeat: no-repeat;
    background-size: 1150px 950px;
    background-attachment: fixed;
}
 .Emi{
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 50px;
    position: relative;
    top: 150px;
 }

 .HOME {
    font-family: 'Raleway', sans-serif;
    color: gray;
    position: relative;
    left: 20px;
 }
div{
    position: relative;
    left: 20px;
}
#Velde1{
    color:darkcyan;
    position: relative;
    font-size: 40px;
    top: 200px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.387);
}
#Subvelde1{
    color:darkcyan;
    position: relative;
    font-size: 15px;
    top: 210px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.387);
    font-weight: lighter;
}
#Velde2{
    color:darkcyan;
    position: relative;
    font-size: 40px;
    top: 230px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.387);
}
#Subvelde2{
    color:darkcyan;
    position: relative;
    font-size: 15px;
    top: 240px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.387);
    font-weight: lighter;
}