
#homebody{
    background-image:url("../img/home.jpg");
    background-position:right;
    background-repeat: no-repeat;
    background-size: 1150px 950px;
    background-attachment: fixed;
}
    .Titulos{
        font-family: 'Raleway', sans-serif;
        font-size: 80px;
        background-color: rgba(255, 255, 255, 0.387);
        top: 320px;
        position: relative;
    }
 .Emi{
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 40px;
    position: relative;
    top: 190px;
 }

 .HOME {
    font-family: 'Raleway', sans-serif;
    color: gray;
    position: relative;
    left: 20px;
 }
div{
    position: relative;
    left: 20px;
}